body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.form-card, .list-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background: #2d89ef;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.curso-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}